/* Style for the container */
#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Style for the store name */
  #storeName {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  #collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    position: relative; /* Added position relative */
    left:0%; /* Added left property */
  }
  
  #collection div {
    align-items: center;
    padding: 10px;
  }
  
  #collection div:not(:last-child) {
    margin-right: 80px;
  }
  #collection a {
    color: black;
    text-decoration: none;
}
#login.button a,
#signup.button a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: lighter;
}

.button {
    display: inline-block;
    border: 1px solid #333;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.button a {
    color: white;
}

.button:hover a {
    color: black;
}