/* Style for the hero section */
#hero-section {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #f2f2f2;
  }
  
  .long-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Style for the plants section */
  #plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:120px;
    margin-right:120px; 
  }
  
  .advertisement {
    width: 220px;
    height: 290px;
    margin-bottom: 20px;
    margin-top: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 40px;
  }
  
  /* .advertisement:nth-child(4n) {
    margin-right: 0;
  } */
  
  .advertisement img {
    width: 85%;
    align-self: center;
    height: auto;
  }
  
  .advertisement .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
  }
  
  .advertisement .details h3 {
    margin: 0;
  }
  
  .advertisement .details p {
    margin: 0;
    font-weight: lighter;
  }


/* Style for the "add to cart" section when hovering */
.advertisement .cart-button:hover {
  color: darkblue;
}
  
  #sectionsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }
  h1 {
    font-size: 18;
    padding-top:80px;
    font-weight:200
  }

  #tail-section {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #f2f2f2;
    width:100%;
  }
  
  .long-photo img {
    width: 100%;
    height: 100%;
    object-fit:fill;
  }